@model IEnumerable<PjBaySite.Models.IBoxItem>

@{
    ViewData["Title"] = "Home Page";
//var Grid = new List<List<IBoxItem>>();
//for (int i = 0; i < Model.Count(); i++)
//{
//    int j = i / 4;

//    if (Grid.Count() == j)
//    {
//        Grid.Add(new List<IBoxItem>(4));
//    }

//    Grid[j].Add(Model.ElementAt(i));
//}
}

<style>
    .jumbotron {
        font-size: 40px;
        font-weight: bolder;
        font-family: Gabriola;
        color: #660066;
    }
    /*making a rounded button*/
    #myButton {
        border: 2px solid #660066;
        border-radius: 50px;
        background-color: #7FFFD4;
        color: #660066;
    }
    /*making purple text with my font*/
    .myText {
        font-family: myGabriolaFont;
        color: #660066;
    }
    /*making shadow to the h1(welcome to PjBay site!)*/
    .myh1 {
        text-shadow: 2px 2px #7FFFD4;
    }

    /*making the logo canvas to grow(transition)*/
    .logo {
        width: 200px;/*the width of the logo before enlargement*/
        height: 200px;/*the height of the logo before enlargement*/
        /*the time the transition takes in each axis*/
        -webkit-transition: width 2s, height 2s; /* For Safari 3.1 to 6.0 */
        transition: width 2s, height 2s;
    }

        .logo:hover {
            /*the final size of the logo after the transition*/
            width: 400px;
            height: 400px;
        }
</style>


<div class="jumbotron" style="background-image: url('images/background_1.jpg');background-size:cover;">
    
    <center>
        
        <h1 class="myh1">Welcome to PjBay!!!</h1>

        <p><b> We offer you great deal:</b></p>
        <p><b> Pay a little for great homework,or sell a project and earn some money.</b></p>
        <p>
           <a id="myButton" class="btn btn-primary btn-lg" asp-controller="Projects" asp-action="BuyProject"><b>Buy Project!</b></a>
           <a id="myButton" class="btn btn-primary btn-lg" asp-controller="Projects" asp-action="SellProject"><b>Sell Project!</b></a>
        </p>
        
    </center>
    
</div>


@* style="float:right" *@

<div class="myText">
    <section>
        <center>
            <p>
                Welcome to PjBay site!
                If you are searching for help in your homework,you arrived to the right place.
                Here you can buy homework for attractive prices.You don't need to do anything just click on the button and go for a vacation.
                Because why bother yourself with silly homework,when someone else is willing to do them.
                So, What are you waiting for...Let's Go!
            </p>
            <p>Furthermore, You can sell your homework and get some money,it is very easy and without comisions.</p>
        </center>
    </section>
</div>

@* logo canvas *@
<div ><canvas id="logo" class="logo" width="500" height="500"></canvas></div>

<script>
    var can = document.getElementById('logo');
    var context = can.getContext('2d');


    //the text of the logo
    var text = "PjBay"

    //the color of the background of the circle
    context.fillStyle = "#7FFFD4";
    context.beginPath();
    var radius = 80;
    //drawing a circle
    context.arc(200, 200, radius, 0, Math.PI * 2);
    context.closePath();

    //the width of the line of the circle
    context.lineWidth = 5;

    //the color of the stroke
    context.strokeStyle = '#660066';
    context.stroke();
    context.fill();
    context.fillStyle = "#660066"; // font color to write the text with
    var font = "bold " + radius + "px Gabriola";
    context.font = font;
    // Move it down by half the text height and left by half the text width
    var width = context.measureText(text).width;
    var height = context.measureText("P").width; // this is a GUESS of height
    context.fillText(text, 200 - (width / 2), 200 + (height / 2));
</script>

@*@foreach (List<IBoxItem> row in Grid)
{
    <div class="row">
        @foreach (IBoxItem proj in row)
        {
            <div class="col-md-3">
                @Html.Partial("ItemBox", proj)
            </div>
        }
    </div>
}*@









