@model IEnumerable<PjBaySite.Models.Project>

@{
    ViewData["Title"] = "Home Page";
    var Grid = new List<List<Project>>();
    for (int i = 0; i < Model.Count(); i++)
    {
        int j = i / 4;

        if (Grid.Count() == j)
        {
            Grid.Add(new List<Project>(4));
        }

        Grid[j].Add(Model.ElementAt(i));
    }
}

<div class="jumbotron">
    <h1>Learn Less NOW!!</h1>
    <p>Now you can learn less and get better grades!</p>
    <p>so what are you waiting for?..</p>
    <p><a class="btn btn-primary btn-lg" Link="Buy">Learn Less Now</a></p>
</div>

@foreach (List<Project> row in Grid)
{
    <div class="row">
        @foreach (Project proj in row)
        {
            <div class="col-md-3">
                @Html.Partial("ItemBox", proj)
            </div>
        }
    </div>
}
