@model PjBaySite.Models.Project
@{
    ViewData["Title"] = "AdvancedSearch";
    Layout = "_Layout";
}

<script>
    $("#submitButton").click(function () {
        if( (parseInt($("#gradeMin").val()) > parseInt($("#gradeMax").val())&& ( parseInt($(#grade)) 
        {
            alert("Please enter maximum grade that bigger than minimum grade.");
            $("#gradeMin").val('');
            $("#gradeMin").focus();
            $("#gradeMax").val('');
            $("#gradeMax").focus();
            return false;
        } else {
            return true;
        }
    });
</script>


<html>
<head>
   
    
</head>
<body>
    <h2> Search Project:</h2>
    <hr />
    <form asp-controller="Projects" asp-action="SearchProject" method="post">
        <table style="border-spacing: 10px 20px;border-collapse:separate;font-size:16px;">
            <tr>
                <td align="left">
                    <label>Grade Range:</label>
                </td>
                <td align="center">
                    <label>From: </label>
                </td>
                <td align="center">
                    <input name="gradeMin" id="gradeMin" onchange="gradeMinValidation()" maxlength="3" style="width:80px" class="form-control" />
                    <script>
                        function gradeMinValidation() {
                            var x = document.getElementById("gradeMin").value;

                            if (!(x.match(/^[0-9]+$/))) {
                                alert("The minimum grade invalid.Enter a number between 0 to 100");
                            }
                        }

                    </script>
                </td>
                <td align="center">
                    <label>To: </label>
                </td>
                <td  align="center">
                    <input name="gradeMax" id="gradeMax" onchange="gradeMaxValidation()" maxlength="3" style="width:80px" class="form-control" />
                    <script>
                        function gradeMaxValidation() {
                            var x = document.getElementById("gradeMax").value;

                            if (!(x.match(/^[0-9]+$/))) {
                                alert("The maximum grade invalid.Enter a number between 0 to 100");
                            }
                        }

                    </script>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <label>Price Range:</label>
                </td>
                <td  align="center">
                    <label>From: </label>
                </td>
                <td  align="center">
                    <input name="priceMin" id="priceMax" onchange="priceMinValidation()" maxlength="5" style="width:80px" class="form-control" />
                    <script>
                        function priceMinValidation() {
                            var x = document.getElementById("priceMin").value;

                            if (!(x.match(/^[0-9]+$/))) {
                                alert("The minimum price is invalid.Enter a number between 0 to 10000");
                            }
                        }

                    </script>
                </td>
                <td  align="center">
                    <label>To: </label>
                </td>
                <td align="center">
                    <input name="gradeMax" id="priceMax" onchange="priceMaxValidation()" maxlength="5" style="width:80px" class="form-control" />
                    <script>
                        function priceMaxValidation() {
                            var x = document.getElementById("priceMax").value;

                            if (!(x.match(/^[0-9]+$/))) {
                                alert("The maximum price is invalid.Enter a number between 0 to 10000");
                            }
                        }

                    </script>
                </td>
            </tr>
            <tr>
                <td align="left">
                    <label>Words in Description:&nbsp;&nbsp;</label>
                </td>
                <td colspan="4" align="left">
                    <input name="description" style="width:260px" class="form-control" />
                </td>
            </tr>
            <tr>
                <td colspan="5" align="center">
                    <button type="submit" id="submitButton" class="btn btn-default">Search</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>