@model PjBaySite.Models.Project
@{
    ViewData["Title"] = "AdvancedSearch";
    Layout = "_Layout";
}




<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>

    $(document).ready(function() {
        $("#submitButton").click(function ()
        {

            /*checking if gradeMin is valid,has only numbers and between 0 to 100*/
            var x = $("#gradeMin").val();
            if ((!(x.match(/^[0-9]+$/))) || (parseInt(x) < 0) || (parseInt(x) > 100))
            {
                alert("The minimum grade invalid.Enter a number between 0 to 100");
                $("#gradeMin").val('');
                $("#gradeMin").focus();
                return false;
            }

            x = $("#gradeMax").val();
            if (!(x.match(/^[0-9]+$/)) || parseInt(x) < 0 || parseInt(x) > 100) {
                alert("The maximum grade is invalid.Enter a number between 0 to 100");
                $("#gradeMax").val('');
                $("#gradeMax").focus();
                return false;
            }


            x = $("#priceMin").val();
            if (!(x.match(/^[0-9]+$/)) || parseInt(x) < 0 || parseInt(x) > 10000) {
                alert("The minimum price is invalid.Enter a number between 0 to 10000");
                $("#priceMin").val('');
                $("#priceMin").focus();
                return false;
            }

            x = $("#priceMax").val();
            if (!(x.match(/^[0-9]+$/)) || parseInt(x) < 0 || parseInt(x) > 10000) {
                alert("The maximum price is invalid.Enter a number between 0 to 10000");
                $("#priceMax").val('');
                $("#priceMax").focus();
                return false;
            }

            //checking if the grade min bigger than grade max
            if(parseInt($("#gradeMin").val()) > parseInt($("#gradeMax").val()))
            {
                alert("Please enter maximum grade that bigger than minimum grade.");
                $("#gradeMin").val('');
                $("#gradeMax").val('');
                $("#gradeMin").focus();
                return false;
            }
            if(parseInt($("#priceMin").val())>parseInt($("#priceMax").val()))
            {
                alert("Please enter maximum price that bigger than minimum price.");
                $("#priceMin").val('');
                $("#priceMax").val('');
                $("#priceMin").focus();
                return false;
            }
            if($("#description").val()=='')
            {
                alert("Please enter description.");
                $("#description").focus();
                return false;
            }
            else
            {
                return true;
            }
        });
    });
    </script>
    
</head>
<body>
    <h2> Search Project:</h2>
    <hr />
    <form asp-controller="Projects" asp-action="AdvancedSearchResult" method="post">
        <table style="border-spacing: 10px 20px;border-collapse:separate;font-size:16px;">
            <tr>
                <td align="left">
                    <label>Grade Range:</label>
                </td>
                <td align="center">
                    <label>From: </label>
                </td>
                <td align="center">
                    <input name="gradeMin" id="gradeMin" maxlength="3" style="width:80px" class="form-control" />
                    
                </td>
                <td align="center">
                    <label>To: </label>
                </td>
                <td  align="center">
                    <input name="gradeMax" id="gradeMax" maxlength="3" style="width:80px" class="form-control" />
                </td>
            </tr>
            <tr>
                <td align="left">
                    <label>Price Range:</label>
                </td>
                <td  align="center">
                    <label>From: </label>
                </td>
                <td  align="center">
                    <input name="priceMin" id="priceMin" maxlength="5" style="width:80px" class="form-control" />
                </td>
                <td  align="center">
                    <label>To: </label>
                </td>
                <td align="center">
                    <input name="priceMax" id="priceMax" maxlength="5" style="width:80px" class="form-control" />
                </td>
            </tr>
            <tr>
                <td align="left">
                    <label>Words in Description:&nbsp;&nbsp;</label>
                </td>
                <td colspan="4" align="left">
                    <input name="description" id="description" style="width:260px" class="form-control" maxlength="500"/>
                </td>
            </tr>
            <tr>
                <td colspan="5" align="center">
                    <button type="submit" id="submitButton" class="btn btn-default">Search</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>

