@model PjBaySite.Models.Institute
@{
    ViewData["Title"] = "BuyProject";
}

<script language="javascript" type="text/javascript">
    function GetFieldCourseProject(instituteName)
    {
        //what will be diplayed when waiting for answer
        var processmessage = "<option value='0'> Please wait...</option>";

        //before the answer from the server,the strings above will be shown
        //# means id in html document
        $("#selectField").html(processmessage).show();
        $("#selectCourse").html(processmessage).show();
        $("#selectProject").html(processmessage).show();

        //the controller and action that we send the request to.
        var url = "/Projects/GetFieldCourseProjectByInstitute/";

        $.ajax
        ({
            url: url,//the url we send the request to 
            data: { Name: instituteName },//the data we send to the url,into parameter Name in the action the name of the institute will be loaded
            cache: false,
            type: "POST",//sending by post
            success: function (data)//the data that was returned from controller
            {//when success
                var markupField = "<option value='0'>Select Field</option>";//the first line of the dropdown list
                for (var x = 0; x < data.fieldList.length; x++)
                {//populate the list with the answer that came from server
                    markupField += "<option value=\"" + data.fieldList[x].Text + "\">" + data.fieldList[x].Text + "</option>";
                }
                $("#selectField").html(markupField).show();//display the data


                var markupCourse = "<option value='0'>Select Course</option>";//the first line of the dropdown list
                for (var x = 0; x < data.courseList.length; x++) {//populate the list with the answer that came from server
                    markupCourse += "<option value=\"" + data.courseList[x].Text + "\">" + data.courseList[x].Text + "</option>";
                }
                $("#selectCourse").html(markupCourse).show();//display the datavar markupCourse = "<option value='0'>Select Course</option>";//the first line of the dropdown list

                var markupProject = "<option value='0'>Select Project</option>";//the first line of the dropdown list
                for (var x = 0; x < data.projectList.length; x++) {//populate the list with the answer that came from server
                    markupProject += "<option value=\"" + data.projectList[x].Text + "\">" + data.projectList[x].Text + "</option>";
                }
                $("#selectProject").html(markupProject).show();//display the data

                $("#selectInstitute").prop("disabled", false);
                $("#selectField").prop("disabled", false);
                $("#selectCourse").prop("disabled", true);
                $("#selectProject").prop("disabled", true);

                


            },
            error: function (reponse)
            {
                alert("error : " + reponse);
            }
        });

    }


    function GetCourseProject() {
        var processmessage = "<option value='0'> Please wait...</option>";
        $("#selectCourse").html(processmessage).show();
        $("#selectProject").html(processmessage).show();
        var url = "/Projects/GetCourseAndProjectByInstituteAndField/";
        
        $.ajax({
            url: url,
            //sending the line that was selected by the user from two fields (select1-institutes,select2-fields)
            data: { instituteName: $("#selectInstitute :selected").text(), fieldName: $("#selectField :selected").text() },
            cache: false,
            type: "POST",
            success: function (data) {
                var markupCourse = "<option value='0'>Select Course</option>";
                for (var x = 0; x < data.courseList.length; x++) {
                    markupCourse += "<option value=\"" + data.courseList[x].Text + "\">" + data.courseList[x].Text + "</option>";
                }
                $("#selectCourse").html(markupCourse).show();

                var markupProject = "<option value='0'>Select Project</option>";
                for (var x = 0; x < data.projectList.length; x++) {
                    markupProject += "<option value=\"" + data.projectList[x].Text + "\">" + data.projectList[x].Text + "</option>";
                }
                $("#selectProject").html(markupProject).show();

                //enable the courses dropdown list
                $("#selectInstitute").prop("disabled", false);
                $("#selectField").prop("disabled", false);
                $("#selectCourse").prop("disabled", false);
                $("#selectProject").prop("disabled", true);

               
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }



    function GetProject() {
        var processmessage = "<option value='0'> Please wait...</option>";
        $("#selectProject").html(processmessage).show();
        var url = "/Projects/GetProjectsByInstituteFieldCourse/";

        $.ajax({
            url: url,
            //sending the line that was selected by the user from two fields (select1-institutes,select2-fields)
            data: { instituteName: $("#selectInstitute :selected").text(), fieldName: $("#selectField :selected").text(), courseName: $("#selectCourse :selected").text() },
            cache: false,
            type: "POST",
            success: function (data) {

                var markupProject = "<option value='0'>Select Project</option>";
                for (var x = 0; x < data.length; x++) {
                    markupProject += "<option value=\"" + data[x].Text + "\">" + data[x].Text + "</option>";
                }
                $("#selectProject").html(markupProject).show();


                $("#selectInstitute").prop("disabled", false);
                $("#selectField").prop("disabled", false);
                $("#selectCourse").prop("disabled", false);
                $("#selectProject").prop("disabled", false);

                
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });

    }
</script>


<h2>Search Project:</h2>

<form asp-controller="Projects" asp-action="SearchProject" method="post">
    <hr />
    <div class="form-group">
        <label for="select" class="col-lg-2 control-label">Institutes:</label>
        <div class="col-lg-10">
            @*first argument:the viewdata that populate the dropdown list,second argument:list that populate the dropdown
                third argument:the firt line that is selected in the dropwon list,forth argument:the attributes that populate the select(dropdon).
                *@
            @Html.DropDownList("institutes", null, "Select Institute", new { @id = "selectInstitute", @class = "form-control", @onchange = "javascript:GetFieldCourseProject(this.value);" })
            <br>
        </div>
        <label for="select" class="col-lg-2 control-label">Fields:</label>
        <div class="col-lg-10">
            @Html.DropDownList("fields", null, "Select Field", new { @id = "selectField", @class = "form-control", @onchange = "javascript:GetCourseProject();" , @disabled = "disabled" })
            <br>
        </div>
        <label for="select" class="col-lg-2 control-label">Courses:</label>
        <div class="col-lg-10">
            @Html.DropDownList("courses", null, "Select Course", new { @id = "selectCourse", @class = "form-control", @onchange = "javascript:GetProject();", @disabled = "disabled" })
            <br>
        </div>
        <label for="select" class="col-lg-2 control-label">Projects:</label>
        <div class="col-lg-10">
            @Html.DropDownList("projects", null, "Select Project", new { @id = "selectProject", @class = "form-control", @disabled = "disabled", @onclick= "javascript:enableButton()" })
            <br>
        </div>

        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button id="submitButton" type="submit" class="btn btn-primary" disabled="disabled">Search</button>
                <script>
                    function enableButton()
                    {
                        var select4 = document.getElementById("selectProject");
                        var selectedValue = select4.options[select4.selectedIndex].value;
                        if (selectedValue != '0')
                        {
                            document.getElementById("submitButton").disabled = false;
                        }
                    }
                </script>
                
            </div>
        </div>

    </div>
</form>





