@model int
@{
    ViewData["Title"] = "Checkout";
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
</head>
<body>
    <body style="width:100%; height:100%; display:block; background:#f0f0f0;">
        <form asp-controller="Projects" asp-action="Paid" asp-route-id="@Model" method="post">

            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-md-4">

                        <!-- CREDIT CARD FORM STARTS HERE -->
                        <div class="panel panel-default credit-card-box">
                            <div class="panel-heading display-table">
                                <div class="row display-tr">
                                    <label for="cardNumber">Payment Details</label>
                                    <div class="display-td">
                                        <img class="img-responsive pull-right" src="http://i76.imgup.net/accepted_c22e0.png">
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <form role="form" id="payment-form">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label for="cardNumber">CARD NUMBER</label>
                                                <div class="input-group">
                                                    <input type="tel" maxlength="16" pattern=".{16,16}" title="16 numbers" id="cardNumber"
                                                           class="form-control"
                                                           name="cardNumber"
                                                           placeholder="Valid Card Number"
                                                           autocomplete="cc-number"
                                                           required autofocus
                                                           onchange="cardNumberValidation()" />
                                                    <script>
                                                        function cardNumberValidation() {
                                                            var x = document.getElementById("cardNumber").value;
                                                            //checks if the text box is numbers
                                                            if (!(x.match(/^[0-9]+$/))) {
                                                                alert("The credit card number is invalid,please enter numbers.");
                                                            }
                                                        }

                                                    </script>

                                                    <span class="input-group-addon"><i class="fa fa-credit-card"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-7 col-md-7">
                                            <div class="form-group">
                                                <label for="cardExpiry"><span class="hidden-xs">EXPIRATION</span><span class="visible-xs-inline">EXP</span> DATE</label>
                                                <input type="tel" maxlength="4" pattern=".{4,4}" title="4 numbers" id="expirationDate"
                                                       class="form-control"
                                                       name="cardExpiry"
                                                       placeholder="MM / YY"
                                                       autocomplete="cc-exp"
                                                       required
                                                       onchange="dateValidation()" />

                                                <script>
                                                    function dateValidation()
                                                    {
                                                        var x = document.getElementById("expirationDate").value;
                                                        
                                                        if (!(x.match(/^[0-9]+$/))) {
                                                            alert("The expiration date is invalid");
                                                        }
                                                    }

                                                </script>
                                            </div>
                                        </div>
                                        <div class="col-xs-5 col-md-5 pull-right">
                                            <div class="form-group">
                                                <label for="cardCVC">CV CODE</label>
                                                <input type="tel" maxlength="3" pattern=".{3,3}" title="3 numbers" id="cvCode"
                                                       class="form-control"
                                                       name="cardCVC"
                                                       placeholder="CVC"
                                                       autocomplete="cc-csc"
                                                       required 
                                                       onchange="cvValidation()"/>
                                                <script>
                                                    function cvValidation()
                                                    {
                                                        var x = document.getElementById("cvCode").value;

                                                        if (!(x.match(/^[0-9]+$/))) {
                                                            alert("The CV code is invalid");
                                                        }
                                                    }

                                                </script>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">

                                            <button class="btn btn-success btn-lg btn-block" type="submit">Pay</button>
                                        </div>
                                    </div>
                                    <div class="row" style="display:none;">
                                        <div class="col-xs-12">
                                            <p class="payment-errors"></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- CREDIT CARD FORM ENDS HERE -->

                    </div>

                </div>
            </div>
        </form>
        <!-- If you're using Stripe for payments -->
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

    </body>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.13.1/jquery.validate.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.2.3/jquery.payment.min.js'></script>
    <script src="~/js/index.js"></script>



</body>
</html>
