@model PjBaySite.Models.Project

@{
    ViewData["Title"] = "ManagerSearch";
}
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>

    $(document).ready(function() {
        $("#searchButton").click(function ()
        {
            var name = $("#name").val();

            if (name=='')
            {
                alert("Please enter text");
                return false;
            }
            else
            {
                return true;

            }
        });
    });
    </script>
</head>
</head>
<body>


    <h2>Search a Project</h2>

    <form asp-action="ManagerSearchResult" method="post">
        <div class="form-horizontal">

            <hr />
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" name="name" id="name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Search" id="searchButton" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>