@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}


<html>
<head>

    <link href="~/css/side-bar.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div id="wrapper" class="mySideText">
        <aside>
            <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand">
                        <h1 class="mySideText">Management:</h1>

                    </li>
                    <li>
                        <a asp-controller="Statistics" asp-action="GraphA">Projects in each field</a>
                    </li>
                    <li>
                        <a asp-controller="Statistics" asp-action="GraphB">Distribution of grades</a>
                    </li>

                </ul>
            </div>
            <!-- /#sidebar-wrapper -->
            <!-- Page Content -->
            <section>
                <div id="page-content-wrapper">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /#page-content-wrapper -->
    </aside>
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>
</html>

